.panel-group{
    font-family: Helvetica, sans-serif !important;
}
.panel-group h4,h5{
    font-family: Helvetica, sans-serif !important;
}
.title-duhoc{
    text-align:  center;
    font-weight: bold;
    padding:  0px 100px;
     color: #FD6504;
     text-shadow: 4px 4px 3px rgba(43, 5, 5, 0.1); 
}
.bg-duhoc{
    background-color: white !important;
}
.panel-title a{
    background-color:#0082c8;
    color: white;
    font-weight: bold;
}
.panel-body h5{
    color: rgb(255, 0, 0);
}
.img-duhoc{
    width: 50%;
    height: 50%;
    margin:  auto;
    margin: 0px 19%;
}
.da-thumbs img{
    width: 100%;
    height: 100%;
}
.da-thumbs li a .portfolio-detail-overlay{
    opacity: 0.5 !important;
}